@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.pt-4 {
    padding-top: 4rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 2.1rem;
}

.logo img {
    padding-right: 5px;
}

.nav-menu {
    padding-left: 8rem;
}

.nav-menu ul {
    display: flex;
}

.nav-menu a {
    margin: 0 1.5rem;
    color: #000;
    font-weight: 500;
}

.btn-function i {
    font-size: 1.2rem;
    margin: 0 1.2rem;
}

.btn-function i:hover {
    cursor: pointer;
}

/* Banner */
.banner img {
    width: 100%;
    position: relative;
}

.title-banner {
    position: absolute;
    top: 35%;
    left: 46%;
    font-size: 2rem;
    font-weight: 600;
}

.text-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 500;
}

.section {
    padding-left: 8rem;
    padding-right: 8rem;
}

.section-title {
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.section-content {
    border-top: 2px solid #000;
}

/* New */
.list-product {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.product {
    position: relative;
    display: inline-block;
    background-color: #F4F5F7;
}

.info-product {
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product:hover .overlay {
    opacity: 1;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.btn-add-to-cart {
    background-color: #fff;
    color: #B88E2F;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 200px;
}

.additional-options {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
}

.additional-options a {
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.img-product img {
    width: 280px;
    height: 300px;
}

.name-product {
    font-size: 1.5rem;
    font-weight: 600;
}

.description-product {
    padding-top: 8px;
    font-weight: 500;
    font-size: 1rem;
    opacity: 0.6;
}

.price-product {
    padding-top: 12px;
    display: flex;
    gap: 1.2rem;
}

.price {
    font-size: 1.2rem;
    font-weight: 600;
}

.price-product-old {
    font-size: 1.2rem;
    text-decoration: line-through;
    opacity: 0.6;
}

.tag {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(233, 113, 113);
    width: 40px;
    height: 40px;
    top: 5%;
    right: 10%;
}

.bg-green {
    background-color: rgb(46, 193, 172);
}

.tag p{
    color: #fff;
    font-size: 13px;
    padding-top: 10px;
    text-align: center;
}

/* Shop */
.list-shop,
.list-blog {
    padding-top: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.8rem;
    gap: 4rem;
}

.border-bottom {
    border-bottom: 2px solid #000;
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.blog-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.blog-text {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.6;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-about {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 1.5rem;
    right: 0;
}

.btn-about i {
    margin-top: 3px;
    margin-left: 1rem;
    font-weight: bold;
}

/* Tagline */
.tagline {
    margin-top: 5rem;
    height: 270px;
    background-color: #FAF3EA;
}

.list-feature {
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    height: 270px
}

.feature {
    display: flex;
}

.feature i {
    font-size: 3rem;
}

.feature-text {
    margin-left: 15px;
}

.feature-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.feature-desc {
    font-weight: 500;
    font-size: 1rem;
    opacity: 0.6;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 5rem 0;
}

.logo-footer {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 3rem;
}

.address p {
    font-size: 1rem;
    font-weight: 400;
    color: #9F9F9F;
}

.title-footer {
    font-size: 1rem;
    font-weight: 500;
    color: #9F9F9F;
    padding-bottom: 3rem;
}

.menu-footer li {
    padding-bottom: 2rem;
}

.menu-footer li a{
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}

.form-newsletter input[type="text"]{
    border: none;
    border-bottom: 1px solid #000;
    margin-right: 1.2rem;
    padding-right: 10px;
    width: 200px;
}

.form-newsletter input[type="submit"]{
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #000;
    font-weight: 500;
    cursor: pointer;
}

.form-newsletter ::placeholder{
    color: #9F9F9F;
    font-size: 14px;
}

